.idea/
app/__pycache__/__init__.cpython-311.pyc
app/__pycache__/crud.cpython-311.pyc
app/__pycache__/database.cpython-311.pyc
app/__pycache__/main.cpython-311.pyc
app/__pycache__/schemas.cpython-311.pyc